/*
//**_______________________________________________________________________________________________________________________________________________*/

/* Tag Selectors */
h1{ 
    color: red; /* Color Letra */
    font-size: 200px; /* Tamaño de texto */
}

img:hover{ /* hover=Para que al pasar por encima */
    background-color: gold;
}

/* Class Selectors */
.bacon{ /* Cambios a la imagen */
    background-color: green; /* Background */
}

.broccoli{ /* Cambios a la imagen */
    background-color: red; /* Background */
}

.circular{
    border-radius: 100%;
}

/* Id Selectors */
#heading {
    color: blue;
}

#big{
    font-size: 3000px;
}