/*
//**_______________________________________________________________________________________________________________________________________________*/

/* Tag Selectors */
h1{ 
    color: red; /* Color Letra */
    font-size: 200px; /* Tamaño de texto */
}
/* 
img{
    background-color: red;
}
*/

/* Class Selectors */
.bacon{ /* Cambios a la imagen */
    background-color: green; /* Background */
}

.broccoli{ /* Cambios a la imagen */
    background-color: red; /* Background */
}