/*
//**_______________________________________________________________________________________________________________________________________________*/
/* position: fixed; Con este se mantiene estatico el elemento */

/* #title{ /* Ejemplo de como poner una letra, utilice este id en el index */
    /* font-family: "Brush Script MT" ,cursive; 
    font-size: 80px; 
    font-style: italic; 
    font-variant: small-caps; 
    font-weight: 100; 
    line-height: 40px;
} */

body{
    margin: 0; /* Recuerda siempre mantenerlo en 0 */
    text-align: center; /* Centramos texto */
    /* font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; */
    font-family: 'Merriweather', serif;
}

h1{
    color: #66BFBF;
    font-family: 'Sacramento', cursive;
    font-size: 5.625rem; /* rem=16px */
    /* font-size: 562.5%; /* % sale como px/16*100 */
    /* line-height: 2; */
    margin: 50px auto 0 auto; /* (Top-Right-Bottom-Left) */
    /* margin: 0 auto 0 auto; /* Con esto lo vuelvo a centrar aunque haya definido width - (Top-Right-Bottom-Left) */
    /* width: 10%; /* Al hacer esto, es lo que mide a lo ancho y se queda lado izquiero */
}

h2{
    color: #66BFBF;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    font-weight: normal;
}

h3{
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
}

a{
    color: #11999E;
}

.top-container{ /* Recuerda, las clases con CSS ocupan puntos, id con # */
    background-color: #E4F9F5;
    position: relative;
    padding-top: 100px;
}

/* #profile_img{
    border-radius: 50%;
} */

.middle-container{
}

.bottom-container{
}

.skill-row{
    margin: 100px auto 100px auto; /* Con esto lo vuelvo a centrar aunque haya definido width - (Top-Right-Bottom-Left) */
    text-align: left;
    width: 50%;
    line-height: 2;
}

.pro{
    text-decoration: underline;
}

.top-cloud{
    /* margin: 30px 0px 0px 400px; /* Acomode la nube superior - (Asi realice el ejercicio) */
    position: absolute;
    right: 300px;
    top: 40px;
}

.bottom-cloud{
    position: absolute; /* Subi la nube hasta donde inicia la etiqueta */
    left: 250px;
    bottom: 300px;
}

.code-img {
    width: 25%;
    float: left;
    margin-right: 30px;
}

.chilli-img {
    width: 25%;
    float: right;
    margin-left: 30px;
}