/*
//**_______________________________________________________________________________________________________________________________________________*/
/* body{
    margin: 0;
}

h1{
    margin-top: 0;
}

.top-container{
    background-color: #E0EBE8;
} */

.top-container-1{
    display: inline-block;
    background-color: red;
    height: 200px;
    width: 200px;
    position: relative;
    left: 380px;
}

.middle-container{
    display: inline-block;
    background-color: blue;
    height: 200px;
    width: 200px;
    position: relative;
    right: 210px;
}

.bottom-container{
    display: inline-block;
    background-color: yellow;
    height: 200px;
    width: 200px;
    position: relative;
    right: 220px;
}

.pro{
    text-decoration: underline;
}