body {
    display: flex; /* Asi toma el espacio, para que no abarque todo */ 
    padding-top: 40px; /* Bajamos el espacio de arriba hacia abajo */
    padding-bottom: 40px; /* Bajamos el espacio de arriba hacia abajo */
    background-color: #F5F5F5;
}

.form-signin {
    width: 100%; /* Para que ocupe todo el ancho */
    max-width: 330px; /* Pero el 100% aqui se o reducimos*/
    padding: 15px; /* Bajamos un poco mas todo lo que hay en el form */
    margin: auto; /* Asi puedo ponerlo en medio */
}

.form-signin .form-control {
    /* position: relative; Posicion relativa al HTML */
    height: auto;
    padding: .5rem; /* Tamaño de la caja de texto */
    margin-top: .3rem;
}

.btn {
    margin-top: 10px; /* Bajo un poco mas el boton */
}
